.container {
    margin-top: 50px;
    
    form {
      max-width: 500px;
      margin: 0 auto;
  
      .form-group {
        margin-bottom: 20px;
  
        label {
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }
  