.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
      
      th {
        text-align: left;
        padding: 10px;
        border-bottom: 2px solid #ccc;
      }
      
      td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
      
      .fa {
        cursor: pointer;
        margin-right: 10px;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
    
    button {
      margin-bottom: 20px;
    }
  }
  