<ul class="nav navbar-nav">
  <li class="">
     <a class="nav-link" routerLink="/dashboard"><i class="fa fa-tachometer"></i><span>Dashboard</span>
     </a>
  </li>
  <li class="nav-item dropdown">
     <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
     <i class="fa fa-users"></i><span>Customers</span>
     <span class="caret"></span>
     </a>
     <ul class="dropdown-menu">
        <li><a routerLink="/add/customer">Add Customer</a></li>
        <li><a routerLink="/list/customer">List Customer</a></li>
     </ul>
  </li>
  <li class="nav-item dropdown">
     <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
     <i class="fa fa-shopping-cart"></i><span>Sales</span>
     <span class="caret"></span>
     </a>
     <ul class="dropdown-menu">
        <li><a routerLink="sales/invoices">Invoices</a></li>
        <li><a routerLink="sales/invoices/new">New Invoices</a></li>
        <li><a routerLink="sales/invoices/recurring">Recurring invoices</a></li>
        <li><a routerLink="sales/invoices/new/recurring">New Recurring invoices</a></li>
        <li><a routerLink="sales/quotes">quotes</a></li>
        <li><a routerLink="sales/quotes/new">New quote</a></li>
        <li><a routerLink="sales/payments">Payments</a></li>
        <li><a routerLink="sales/taxrates">Tax Rates</a></li>
     </ul>
  </li>
  <li class="nav-item dropdown">
     <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
     <i class="fa fa-book"></i><span>Task</span>
     <span class="caret"></span>
     </a>
     <ul class="dropdown-menu">
        <li><a routerLink="tasks/running">Running Tasks</a></li>
        <li><a routerLink="tasks/archive">Archive Tasks</a></li>
     </ul>
  </li>
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-book"></i><span>Contact</span>
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
       <li><a routerLink="add/contact">Add Contact</a></li>
       <li><a routerLink="list/contact">List Contact</a></li>
    </ul>
 </li>
  <li class="nav-item dropdown">
     <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
     <i class="fa fa-shopping-bag"></i><span>Accounting</span>
     <span class="caret"></span>
     </a>
     <ul class="dropdown-menu">
        <li><a routerLink="accounting/client-payment">Client payment</a></li>
        <li><a routerLink="accounting/expense/management">Expense management</a></li>
        <li><a routerLink="accounting/expense/category">Expense Category</a></li>
     </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-file-text"></i> Report
    </a>
    <ul class="dropdown-menu" aria-labelledby="reportDropdown">
      <li><a class="dropdown-item" routerLink="report/project">Project Report</a></li>
      <li><a class="dropdown-item" routerLink="report/client">Client Report</a></li>
      <li><a class="dropdown-item" routerLink="report/expense">Expense Report</a></li>
      <li><a class="dropdown-item" routerLink="report/income-expense-comparison">Income expense comparison</a></li>
    </ul>
  </li>
  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-gear"></i> Settings
    </a>
    <ul class="dropdown-menu" aria-labelledby="settingsDropdown">
      <li><a class="dropdown-item" routerLink="settings/general">General settings</a></li>
      <li><a class="dropdown-item" routerLink="settings/staff">Staff settings</a></li>
      <li><a class="dropdown-item" routerLink="settings/email">Email settings</a></li>
      <li><a class="dropdown-item" routerLink="settings/payment">Payment</a></li>
    </ul>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="user">
      <i class="fa fa-user-circle"></i> User
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="documents">
      <i class="fa fa-file-text"></i> Documents
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="calendar">
      <i class="fa fa-calendar"></i> Calendar
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="notice-board">
      <i class="fa fa-file-text"></i> Notice Board
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="message">
      <i class="fa fa-envelope"></i> Message
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="notes">
      <i class="fa fa-comment"></i> Notes
    </a>
  </li>
  
</ul>