@import "../../utilities/variables";

// Navbar styling

.navbar-nav {
  background-color: $color2;
  height: 100%;
  line-height: 4vh;
  font-size: 20px;
  li {
    position: relative;
    display: inline-block;

    a {
      display: block;
      padding: 10px;
      color: black;
      text-decoration: none;

      i {
        margin-right: 10px;
      }

      &:hover {
        background-color: $color5;
      }

    }

    ul.dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;

      li {
        a {
          display: block;
          padding: 10px;
          color: black;
          text-decoration: none;

          &:hover {
            background-color: $color4;
            color: black;
          }
        }
      }
    }

    &.show ul.dropdown-menu {
      display:block;
    }
  }
}