<div class="container">
  <div class="header">
    <h1 class="title">Notice Board</h1>
  </div>
  
  <div class="notice-form">
    <h2 class="subtitle">Add Notice</h2>
    <form (ngSubmit)="createNotice()">
      <div class="form-group">
        <label class="label" for="title">Title:</label>
        <input class="input" type="text" id="title" name="title" [(ngModel)]="newNotice.title" placeholder="Enter a title" required>
      </div>
      <div class="form-group">
        <label class="label" for="description">Description:</label>
        <textarea class="textarea" id="description" name="description" [(ngModel)]="newNotice.description" placeholder="Enter a description" required></textarea>
      </div>
      <button class="button primary-button" type="submit">Add</button>
    </form>
  </div>
  
  <div class="notice-list">
    <h2 class="subtitle">Notice List</h2>
    <ul>
      <li *ngFor="let notice of notices">
        <div class="notice-card">
          <h3 class="notice-title" >{{ notice.title }}</h3>
          <p class="notice-description">{{ notice.description }}</p>
        </div>
        <div class="notice-actions">
          <button class="button secondary-button" (click)="deleteNotice(notice.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>
