.header {
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  
  .container-fluid {
    .row {
      .col-2, .col-sm-2, .col-md-2, .col-lg-2 {
        display: flex;
        align-items: center;
        
        a {
          font-size: 20px;
          margin-right: 15px;
          
          i {
            font-size: 20px;
          }
        }
      }
      
      .col-10, .col-sm-10, .col-md-10, .col-lg-10 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        a {
          font-size: 20px;
          margin-left: 15px;
          
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}
