<div class="container">
  <h1>Recurring Invoices</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Invoice Number</th>
        <th>Customer</th>
        <th>Frequency</th>
        <th>Amount</th>
        <th>Next Issue Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of recurringInvoices">
        <td>{{ invoice.invoiceNumber }}</td>
        <td>{{ invoice.customer.firstName + " " + invoice.customer.lastName }}</td>
        <td>{{ invoice.frequency }}</td>
        <td>{{ invoice.amount }}</td>
        <td>{{ invoice.nextIssueDate }}</td>
        <td>{{ invoice.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
