<div>
  <h2>Notes</h2>

  <div>
    <label>Title:</label>
    <input [(ngModel)]="title" placeholder="Enter title"/>
  </div>

  <div>
    <label>Content:</label>
    <input [(ngModel)]="content" placeholder="Enter content"/>
  </div>

  <button (click)="add(title, content)">Add</button>

  <ul>
    <li *ngFor="let note of notes" [class.selected]="note === selectedNote" (click)="onSelect(note)">
      <span>{{note.title}}</span>
    </li>
  </ul>

  <div *ngIf="selectedNote">
    <h2>{{selectedNote.title}}</h2>
    <div>
      <label>Title:</label>
      <input [(ngModel)]="selectedNote.title" placeholder="Enter title"/>
    </div>
    <div>
      <label>Content:</label>
      <input [(ngModel)]="selectedNote.content" placeholder="Enter content"/>
    </div>
    <button (click)="update()">Save</button>
  </div>

  <div *ngIf="errorMessage">{{errorMessage}}</div>
</div>
