@import "../../../utilities/variables";

.container {
  padding: 20px;

  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    button {
      background-color: $color5;
      border: 2px solid $color3;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 18px;
      color: #fff;
      transition: all 0.3s ease;
      box-shadow: 3px 3px 10px $color3;


      &:hover {
        font-size: 20px;
        opacity: 0.5;
      }
      &:first-child {
        margin-right: 20px;
      }
    }
  }

  table.customer-table {
    border: 2px solid $color3;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 3px 3px 10px $color3;


    caption {
      font-size: 16px;
      font-weight: bold;
      margin: 20px 0;
  
    }

    thead {
      border: 2px solid $color3;

      background-color: $color5;
      color: white;
      font-weight: bold;

      th {
        border: 2px solid $color3;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px;
          font-size: 12px;

        }

        .action-buttons {
          button {
            border: none;
            background-color: transparent;
            font-size: 1rem;
            cursor: pointer;
            margin-right: 10px;
            transition: color 0.2s ease;            

            &:hover {
              color: $color3;
            }

            i {
              font-size: 1.2rem;
            }
          }

          .btn-edit {
            color: $color2;
          }

          .btn-delete {
            color: $color5;
          }
        }
      }
    }
  }
}
