<div class="container">
    <h1>Tax Rates</h1>
    <button routerLink="/sales/taxrates/new" class="btn btn-primary">New Tax Rate</button>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Rate</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taxRate of taxRates">
          <td>{{ taxRate.name }}</td>
          <td>{{ taxRate.rate }}</td>
          <td>
            <i class="fa fa-edit"></i>
            <i class="fa fa-trash"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  