.row {
    max-width: 100%;
    margin-right: 0px;
    --bs-gutter-x: 0;

    .col-md-12{
        padding-right: 0px;
    }

    .col-md-2 {
        height: 915px;
    }
}

.components {
    background-color:rgb(216, 204, 204);
    padding: 2%;
}